*{
    padding: O;
    margin: 0;
    border: 2px solid red;
}
header{
    position: relative;
    height: 400px;
    width: 800px;
}
#F1{
    background-image: url('../1.jpg');
    position: absolute;
    height: 400px;
    width: 50%;
    left: 10px;
}
